{% load static %}
<header id="header" class="header--opaque">
    <div class="header__logo">
        <a href="/">
            <svg width="65" height="56" viewBox="0 0 65 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path class="header__logo__path" d="M64.4219 49.2188L60.5938 56L35.9844 15.8594L22.75 39.4844H14.875L35.5469 2.73438L64.4219 49.2188Z" fill="#6B6152"></path>
                <path class="header__logo__path" d="M38.5 41.2344L42.3281 48.125L0 47.9062L26.7969 0H34.6719L11.2656 41.125L38.5 41.2344Z" fill="#B4C581"></path>
            </svg>
        </a>
    </div>

<div class="header__menu"><ul id="menu-main-menu" class="menu"><li id="menu-item-7" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-7"><a>Categorias</a>
<ul class="sub-menu">
<li id="menu-item-8" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-8"><a href="https://latrilha.com.br/category/historias/">Histórias</a></li>
<li id="menu-item-9" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-9"><a href="https://latrilha.com.br/category/viagens/">Viagens</a></li>
<li id="menu-item-235" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-235"><a href="https://latrilha.com.br/category/dicas/">Dicas</a></li>
<li id="menu-item-236" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-236"><a href="https://latrilha.com.br/category/trilha/">Trilha</a></li>
<li id="menu-item-237" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-237"><a href="https://latrilha.com.br/category/campping/">Campping</a></li>
<li id="menu-item-238" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-238"><a href="https://latrilha.com.br/category/meio-ambiente/">Meio Ambiente</a></li>
</ul>
</li>
</ul></div>        
    <div class="toggle-button header__toggle-button">
        <div id="row01" class="header__toggle-button__row"></div>
        <div id="row02" class="header__toggle-button__row"></div>
        <div id="row03" class="header__toggle-button__row"></div>
    </div>
</header>