{% load static %}
{% if posts%}
{% for post in posts %}
    <li>
        <div id="news-portal-item">
            {% if post.thumb == "" or post.thumb == null %}
                <div class="news-portal-item__thumb"
                    style="background-image: url({% static 'assets/imagens/client/not-found.png' %})"
                >
                </div>
            {% else %}
                <div class="news-portal-item__thumb"
                    style="background-image: url({{post.thumb.url}})"
                >
                </div>
            {% endif %}
            <div class="news-portal-item__content">

                <div class="news-portal-item__header">
                    <div class="news-portal-item__title">
                        {{post.title}}
                    </div>
                </div>
                <div class="news-portal-item__excerpt">
                    {{post.excerpt}}
                </div>
                <div class="news-portal-item__action-area">
                    <a href="{% url 'post' post.slug %}" class="news-portal-item__action">
                        Continue lendo...
                    </a>
                </div>

            </div>
        </div>
    </li> 
{% endfor %}
{% else%}
    <h2>Nenhum post ainda</h2>
{% endif%}