{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<section id="hero">
    <div class="hero__image">

    </div>
    <div class="hero__overlay"></div>
    <div class="hero__content">
        <div class="hero__content__logo">
            <svg width="198" height="173" viewBox="0 0 198 173" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M198 151.273L186.234 172.115L110.598 48.7436L69.9219 121.355H45.7181L109.253 8.40407L198 151.273Z" fill="white"/>
                <path d="M118.329 126.733L130.095 147.912L0 147.239L82.3599 0H106.564L34.6248 126.397L118.329 126.733Z" fill="white"/>
            </svg>
        </div>
        <div class="hero__content__title">
            {{ hero_texts.0 }}
        </div>
        <div class="hero__content__text">
            {{ hero_texts.1 }}            
        </div>
        <div class="hero__content__plot">
            {{ hero_texts.2 }}      
        </div>
    </div>
</section>
<style>
    .hero__image{
        background-image: url("{% static '/assets/imagens/blog/hero.jpg' %}");
    }
</style>

<script>
    window.addEventListener('load',()=>{
        
        document.querySelector("body")
            .scrollIntoView({
                behavior: 'smooth'
            });
        setTimeout(async() => {
            if(window.scrollY==0){
                await document.querySelector("#hello")
                .scrollIntoView({
                    behavior: 'smooth'
                });
                document.querySelector("#header").classList.add('header--opaque')
            }
        }, 10000);


    })
</script>
{% endblock %}
