{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<h1>
    home
</h1>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<script>
    window.addEventListener('load',()=>{
        
        document.querySelector("body")
            .scrollIntoView({
                behavior: 'smooth'
            });
        setTimeout(async() => {
            if(window.scrollY==0){
                await document.querySelector("#hello")
                .scrollIntoView({
                    behavior: 'smooth'
                });
                document.querySelector("#header").classList.add('header--opaque')
            }
        }, 10000);


    })
</script>
{% endblock %}
